.wrapper{
  display: flex;
}

/****サイドバー*****/

.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a{
  color: #DDDDDD;
  text-decoration: none;
}


/***サイドヘッダーの中身***/
.user-name a{
  font-size: 16px;
  text-decoration: none;
  color: #FAFAFA;
  padding: 0 14px 0 20px;
}

.create-chat-room a{
  text-decoration: none;
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
}

/****メイン****/

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);  
}


.main-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 24px;
  color: #333;
  padding-top: 36px;
}

.chat-close-button {
  margin-top: 40px;
}

.close-button a{
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}

/***メイン設定***/
.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.up-message {
  display: flex;
  padding: 10px 0;
}

.post-user {
  padding-right: 10px;
  font-size: 16px;
  color: #434A54;
}

.message-datetime{
  font-size: 12px;
  color: #999;
}

.content-message {
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.form-message {
  padding-left: 10px;
  border: none;
  height: 50px;
}

.form-submit {
  background-color: #38aef0;
  color: white;
  font-size: 16px;
  padding: 0 20px;
  border: none;
  margin-left: 15px;
  height: 50px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}